.pageContainer {
  /* margin: 65px 200px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.productContainer {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  align-items: stretch;
  column-gap: 50px;
  padding: 50px;
  overflow-x: hidden;
}

.productImage {
  width: 100%;
  max-width: 500px;
}

.imgContainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}

.cartButton {
  width: 100%;
  background-color: powderblue;
  margin-bottom: 0.67em;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (width <= 768px) {
  .productContainer {
    flex-direction: column;
    padding: 50px;
  }

  .imgContainer {
    justify-content: center;
    width: 100%;
  }

  .descriptionContianer {
    text-align: center;
  }
}

@media (width <= 640px) {
  .productContainer {
    padding: 35px;
  }

  .descriptionContianer h1 {
    font-size: 30px;
  }
}
