.pageContainer {
  padding: 50px;
}

.cartHeader {
  font-size: 36px;
  margin: 0;
  padding-bottom: 40px;
}

.cartGrid {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.removeBtn {
  border: 1px solid black;
  max-width: 120px;
}
.total {
  font-size: 16px;
  font-weight: bold;
  text-align: end;
  padding: 5px 0px;
}

.checkoutBtn {
  background-color: #aa2c86;
  color: white;
}

@media (width <= 640px) {
  .pageContainer {
    padding: 35px;
  }
  .productImg {
    max-width: 150px;
  }

  .removeBtn {
    font-size: 12px;
    height: 25px;
    padding: 2px 0px;
  }
}
