.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-bottom: 1px solid #ddd;
  font-weight: 900;
  font-size: 2.2rem;
}

.logo {
  max-height: 100px;
}

.cart {
  color: #79c8a3;
}

.cart:hover {
  color: #aa2c86;
}

@media (width <= 640px) {
  .title {
    padding: 0px 25px;
    font-size: 1.5rem;
  }

  .logo {
    max-height: 60px;
  }
}
